body{
	background:#22a6b3;
}

#Intro{
	background-color:#c7ecee
}
h1{
	font-family: 'Cookie', cursive; 
	font-size:72px;
}
h2{
	font-family: 'Cookie', cursive;
}
#name{
	grid-column: 1/3;
	text-align: center;
	grid-row: 1;
	
}
